/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #303030;
}

.btn.focus,
.btn:focus,
.btn:hover,
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #2fccd0;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #606060;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#maps {
    width: 100%;
    height: 500px;
}


/* header  */

header ul li ul {
    position: absolute;
    top: 40px;
    right: -50px;
    width: 180px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 1px;
    background: transparent;
    color: #444;
}

header ul li ul li a:hover {
    /* background: #d5d6d6; */
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%) repeat scroll 0 0;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    z-index: 11;
    position: relative;
}

header ul li a:hover {
    background: #16c9f6;
    transition: 0.5s;
}