/*About Electra Section*/

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

main h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
}

main .twelve h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
}

main .divider {
    margin: 30px 30px;
    border: none;
    height: 20px;
    background-image: url("data:image/logo/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='100%' width='100%'><defs><pattern id='dotted' width='15' height='20' patternTransform='rotate(0 0 0)' patternUnits='userSpaceOnUse'><circle cx='3' cy='3' r='3' fill='teal'/><circle cx='12' cy='12' r='3' fill='teal'/> </pattern></defs><rect width='100%' height='100%' fill='url(%23dotted)'/></svg> ");
}

@media only screen and (max-width: 700px) {
    main .name {
        flex-direction: column;
    }
}

main .jumbotron {
    font-family: 'Segoe Ui', sans-serif;
    position: relative;
    background: none;
    padding-bottom: 10px;
}

main .jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/logo/ee-dept.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
}

main .lead {
    font-weight: 500;
    font-weight: bold;
    text-align: center;
}

main .heading {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
}

main .heading:before {
    background-color: #008489;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

main .heading:after {
    background-color: #008489;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

.team {
    background: transparent;
}

#team .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

#team .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#team .img-bg {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#team .img-tag {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: white 2px solid;
    box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.33);
    margin-top: -25px;
    transition: transform .5s;
}

#team .card {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
}

#team .card-title {
    font-size: 24px;
    text-align: center;
    margin-top: -5px;
    font-family: 'Segoe Ui', sans-serif;
    color: black;
}

#team .rank {
    text-align: center;
    font-size: 1.2rem;
    margin-top: -2px;
    font-size: 17px;
    font-family: 'Segoe Ui', sans-serif;
}

#team .img-tag:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

#team .fab {
    transition: transform .5s;
    color: black;
    margin-bottom: 0;
}

#team .fab:hover {
    transform: scale(1.3);
    transition: transform .5s;
}

#team .team {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bolder;
}

#team .our {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 50px 50px;
    font-family: 'Segoe Ui', sans-serif;
    color: black;
}