.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn-big {
    padding: 0.7rem 1.3rem;
    line-height: 1.3rem;
}

.text-input {
    padding: 0.7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: "Lora", serif;
}

.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.success {
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background: #bcf5bc;
}

.error {
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;
}


/* FOOTER */

.footer {
    /* background: rgba(255, 255, 255, 0.4); */
    background-color: whitesmoke;
    color: #3b3b3b;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: rgb(155, 155, 155);
}

.footer .footer-content .about h1 span {
    color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    ;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all 0.3s;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid rgb(136, 136, 136);
    color: rgb(119, 105, 105);
    transition: all 0.3s;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
}

.footer .footer-content .links ul a:hover {
    margin-left: 15px;
    transition: all 0.3s;
}

.footer .footer-content .contact-form .contact-input {
    background: linear-gradient(-20deg, rgba(169, 172, 177, 0.3) 0%, rgba(185, 170, 192, 0.3) 100%, rgba(204, 111, 247, 0.3)60%);
    ;
    color: #707070;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
    background: linear-gradient(-20deg, rgba(205, 208, 212, 0.3) 0%, rgba(215, 198, 223, 0.3) 100%, rgba(204, 111, 247, 0.3)60%);
    ;
}

.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    font-family: "Lora", serif;
    background-color: rgba(255, 255, 255, 0.6);
    color: #1a1b1d;
}

.footer .footer-bottom {
    background: #1a1b1d;
    color: #747474;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 934px) {
    .content {
        width: 100%;
    }
    .auth-content {
        width: 50%;
    }
    .content .main-content .post {
        width: 100%;
    }
    .content .main-content {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar .section.search {
        margin-top: 30px;
    }
    .footer {
        height: auto;
    }
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .content .main-content .post {
        height: auto;
    }
    .auth-content {
        width: 90%;
    }
    .content .main-content.single {
        padding: 10px 20px;
    }
    .content .main-content .post .post-image {
        width: 100%;
    }
    .content .main-content .post .post-preview {
        width: 100%;
    }
    .content .main-content .post .read-more {
        position: static;
        display: block;
        width: 100%;
        text-align: center;
    }
    .post-slider .next {
        right: 10px;
    }
    .post-slider .prev {
        left: 10px;
    }
}

@media screen and (max-width:500px) {
    .footer .footer-bottom{
        height: auto;
    }
    
}