@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
    background: #f4f4f4;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 20px;
}

.filters button {
    background-color: transparent;
    border: none;
}

.filters {
    text-align: center;
    width: 100%;
}

.filter-btn {
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #648381;
    margin: 0px 18px 16px 0px;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
}

.filters .active,
.filter-btn:hover {
    color: #506967;
    font-weight: 700;
    border-bottom: 3px solid #506967;
}

.container.description {
    background: white;
    border: 1px solid #eee;
    padding: 10px 25px;
    margin-top: 40px;
}

.container.description h1 {
    font-size: 35px;
    font-weight: 300;
}

.container.description h1 small {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container.description p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.container.description h3 {
    color: #0080a7;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.container.description h5 {
    font-size: 12px;
}

.container.description code {
    background: #eee;
    font-size: 12px;
}

.awesome__slider div {
    background: grey;
    min-height: 460px;
    text-align: center;
    position: relative;
}

.awesome__slider div img {
    width: 100%;
    height: 100%;
}

.awesome__slider div h3 {
    padding-top: 50px;
    color: white;
    font-size: 50px;
}

.container {
    max-width: 800px;
}

.prev-img,
.next-img {
    display: block;
    border: none;
    background: none;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 999;
    cursor: pointer;
}

.next-img {
    right: 0;
    left: auto;
}

.awesome__thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    position: relative;
    gap: 5px;
    width: 100%;
}

.awesome__thumbnails .thumb {
    width: 48%;
    cursor: pointer;
    position: relative;
}

.awesome__thumbnails .thumb img {
    max-width: 100%;
    filter: blur(1.2px);
}

.awesome__thumbnails .thumb.active img {
    filter: blur(0);
    box-shadow: 0px 0px 8px 0px #e0dbdf;
}

@media screen and (max-width: 749px) {
    .awesome__thumbnails {
        display: none;
    }
}

.awesome__ba,
.awesome__videos {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3.2rem;
    padding: calc(-0.125rem) calc(0.5rem);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 98%;
}

.awesome__ba small,
.awesome__videos small {
    display: block;
    font-weight: lighter;
}

.awesome__ba:hover,
.awesome__videos:hover,
.awesome__ba:focus,
.awesome__videos:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.awesome__ba:hover,
.awesome__videos:hover {
    transform: translateY(-1px);
}

.awesome__ba:active,
.awesome__videos:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.bord {
    width: 98%;
    border-top: 1px dashed #ccc;
    margin: 10px 0;
}

@media screen and (max-width: 749px) {
    .popup__btns {
        display: flex;
        gap: 5px;
    }

    .popup__btns .bord {
        display: none;
    }
}